{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <table class="table">
      <h4>GC Records</h4>
      <tr>
        <th><center>ID</center></th>
        <th><center>START_TIME</center></th>
        <th><center>STOP_TIME</center></th>
        <th><center>BUCKET</center></th>
        <th><center>SERVER</center></th>
        <th><center>DISK</center></th>
        <th><center>FREE_SIZE_BEFORE</center></th>
        <th><center>FREE_SIZE_AFTER</center></th>
        <th><center>START_ID</center></th>
        <th><center>STOP_ID</center></th>
        <th><center>STATUS</center></th>
      </tr>
      {% for record in gc_records %}
      <tr>
        {% for item in record %}
        <td>{{ item }} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div><!-- /.container -->

{% endblock %}