{% extends 'layout.html' %}

{% block extra_head %}
<link href="{{ url_for('static', filename='css/bootstrap-sortable.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <table class="table table-bordered table-striped sortable">
      <h4>servers</h4>
      <thead>
        <tr>
          <th><center>ADDR</center></th>
          <th><center>#BUCKET</center></th>
          <th><center>VERSION</center></th>
          <th><center>#KEY</center></th>
          <th><center>RSS</center></th>
          <th><center>MIN DISK FREE</center></th>
          <th><center>START TIME</center></th>
          <th><center>LAST ERROR</center></th>
        </tr>
      </thead>
      <tbody>
        {% for server in servers%}
          <tr>
            <td align="right"><a href="http://{{ server[1] }}">{{ server[0] }}</a></td>
            {% for item in server[2:] %}
            <td align="right">{{ item }} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div><!-- /.container -->

{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/bootstrap-sortable.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
{% endblock %}
